body {
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar*/
.navbar {
  padding-bottom: 2rem; /*padding : 0 0 2rem */
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1rem;
  font-weight: 300;
}

/*Download Button*/
.db {
  margin: 5% 3% 5% 0;
}
.gambar {
  width: 250px;
  transform: rotate(20deg);
  right: 20%;
  position: absolute;
}

/* features */
#features {
  text-align: center;
  padding: 10% 15%;
  background-color: #ffff;
  position: relative;
}
.ikon {
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 1.5rem;
}
.ikon:hover {
  color: #ff4c68;
}
h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  text-align: center;
}
h2 {
  font-family: "Montserrat";
  font-weight: bolder;
  padding: 1rem;
  font-size: 2.5rem;
}
.dogi {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
.carousel-item {
  padding: 8% 15%;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*pricing*/
#pricing {
  padding: 100px;
  text-align: center;
}
.price-col {
  padding: 3% 2%;
}

/*cta*/
#cta {
  text-align: center;
  padding: 10% 10% 5%;
}

/*footer*/
#footer {
  padding-top: 7%;
  text-align: center;
  font-size: 0.8rem;
}
.footer-ikon {
  margin: 20px 10px;
}

/* Sections */
.color-section {
  background-color: #ff4c68;
  color: #ffff;
}
.white-section {
  background-color: #ffff;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .gambar {
    position: static;
    transform: rotate(0);
  }
}
